html {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    font-size: 150%;
    text-align: center;
    color: #9381ff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-content: flex-end;
    align-items: center;
    width: 400px;
    height: 600px;
    border-radius: 35px;
    background-color: #f8f7ff;
    color: #9381ff;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

button {
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 35px;
    background-color: #9381ff;
    opacity: 60%;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    opacity: 100%;
}

.entryBox {
    width: 300px;
    height: 38px;
    border-radius: 35px;
    background-color: #ffeedd;
    padding: 10px;
    margin: 10px;
}

p.input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-end;
    align-items: center;
    width: 300px;
    height: 70px;
    border-radius: 35px;
    background-color: #ffeedd;
    border: 0px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

.bloodGlucoseInput {
    text-align: center;
    width: 50%;
    height: 30%;
    border: none;
    margin-top: 8px;
}

.fastingCheckbox {
    width: 50%;
    height: 30%;
    border: none;
    margin-top: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.submitButton {
    transition: 0.2s;
}

.submitButton:hover {
    cursor: pointer;
    background-color:#78cd51;
    opacity: 100%;
}